<header>
  <%= turbo_frame_tag :notices, class: 'notice-group', data: { controller: "notices" } do %>
    <% flash.each do |key, value| %>
      <% [value].flatten.each do |i| %>
        <div class="alert alert-<%= key %>" role="alert">
          <%= i %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="container" style="margin-bottom: 3em; margin-top: 2em">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= link_to "PS-store", root_path, title: 'Перейти на главную' %>
      </div>

      <div class="col-12 col-md-6">
        <%= turbo_frame_tag :cart_counter, class: '' do %>
          <%= render 'carts/cart_counter' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
