<% content_for :title do %>
  <%= t :games %>
<% end %>

<div class="row">
  <div class="swiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @games[0..6].each do |game| %>
        <div class="swiper-slide">
          <%= link_to game_path(game), data: { turbo: false } do %>
            <div style="background: url(<%= storage_img(game, :full)%>); height: 500px; width: 100%; background-size: cover; background-position: center; ">
              <div style="background: url(<%= storage_img(game, :large)%>); height: 500px; width: 100%; background-size: contain; background-position: center; background-repeat: no-repeat; backdrop-filter: blur(10px);"></div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<%= render partial: 'sort_games' %>

<div class="row" id="game-list">
  <%= render @games %>
</div>

<div data-controller="pagy_initializer">
  <%== pagy_bootstrap_nav_js(@pagy, aria_label: 'Search result pages') if @pagy.pages > 1 %>
</div>
<%== pagy_info(@pagy) %>

<%= render 'recently' %>
