<% content_for :title do %>
  <%= t :games %>
<% end %>

<%= render partial: 'sort_games' %>

<%= turbo_frame_tag :games do %>
  <div class="row" id="game-list">
    <%= render @games %>
  </div>

  <%== pagy_bootstrap_nav(@pagy, aria_label: 'Search result pages') if @pagy.pages > 1 %>
  <%== pagy_info(@pagy) %>
<% end %>

<%= render 'recently' %>
