<div class="one-game">
  <div class="row">
    <h1><%= @game.name %></h1>
    <div class="col-12 col-md-6">
      <div class="wrap-img">
        <%= image_tag @game.img, alt: @game.name, title: @game.name %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>Русский язык: <%= @game.rus_voice ? 'Да' : 'Нет' %></li>
        <li>Русский субтитры: <%= @game.rus_screen ? 'Да' : 'Нет' %></li>
        <li>Жанр: <%= @game.genre %></li>
      </ul>
      <span class="price"><%= @game.price %>₽</span>
    </div>
    <div class="description col-12">
      <h2>Описание.</h2>
      <%= @game.content %>
    </div>
  </div>
</div>

<%= render 'recently' %>
