<div class="one-game">
  <div class="row">
    <h1><%= @game.name %></h1>
    <div class="col-12 col-md-6">
      <div class="wrap-img" data-controller="fancybox">
        <%= link_to '', data: { fancybox: 'gallery', src: storage_img(@game, :full), caption: @game.name } do %>
          <%= image_tag storage_img(@game, :large), alt: @game.name, title: @game.name %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <ul class="list-show-game">
        <li>Русский язык: <%= @game.rus_voice ? 'Да' : 'Нет' %></li>
        <li>Русский субтитры: <%= @game.rus_screen ? 'Да' : 'Нет' %></li>
        <li>Платформа: <%= @game.platform %></li>
        <li>Жанр: <%= @game.genre %></li>
        <li>Тип: </li>
        <li>Дата реализа: </li>
        <li>Издатель: </li>
      </ul>

      <div class="price mb-3"><%= @game.price %>₽</div>

      <div class="buttons-show-game">
        <%= render 'carts/create_cart_item', game: @game %>
        <%= render 'favorites/add_favorite', id: @game.id, name: @game.name %>
      </div>
    </div>
    <div class="description col-12">
      <h2>Описание.</h2>
      <%= raw @game.content %>
    </div>
  </div>
</div>

<%= render 'recently' %>
