<div class="one-game">
  <div class="row">
    <h1><%= @game.name %></h1>
    <div class="col-12 col-md-6">
      <div class="wrap-img">
        <%= image_tag "https://store.playstation.com/store/api/chihiro/00_09_000/container/TR/tr/99/#{@game.nps_id}/0/image?_version=00_09_000&platform=chihiro&bg_color=000000&opacity=100&w=636&h=636", alt: @game.name, title: @game.name %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>Русский язык: <%= @game.rus_voice ? 'Да' : 'Нет' %></li>
        <li>Русский субтитры: <%= @game.rus_screen ? 'Да' : 'Нет' %></li>
        <li>Платформа: <%= @game.platform %></li>
        <li>Жанр: <%= @game.genre %></li>
        <li>Тип: </li>
        <li>Дата реализа: </li>
        <li>Издатель: </li>
      </ul>
      <span class="price"><%= @game.price %>₽</span>
      <%= render 'carts/create_cart_item', game: @game %>

      <%= render 'favorites/add_favorite', game: @game %>
    </div>
    <div class="description col-12">
      <h2>Описание.</h2>
      <%= raw @game.content %>
    </div>
  </div>
</div>

<%= render 'recently' %>
