<div class="col-12 cart-item" id="cart-item-<%= game.id %>">
  <div class="row" style="align-items: center;">

    <div class="col-4 col-md-1">
      <div class="wrap-img">
        <a href="<%= game_path(game) %>" title="<%= game.name %>">
          <%= image_tag "https://store.playstation.com/store/api/chihiro/00_09_000/container/TR/tr/99/#{game.nps_id}/0/image?_version=00_09_000&platform=chihiro&bg_color=000000&opacity=100&w=346&h=346", alt: game.name, title: game.name %>
        </a>
      </div>
    </div>

    <div class="col-4 col-md-6">
      <a href="<%= game_path(game) %>" title="<%= game.name %>">
        <%= game.name %>
      </a>
    </div>

    <div class="col-4 col-md-1">
      <span><%= game.price %>₽</span>
    </div>

    <div class="col-4 col-md-2">
      <!--<div class="row">
        <div class="col-4"><%= render 'cart_item_edit', game_id: game.id, action_cart: 'down' %></div>
        <div class="col-4"> -->
          <input type="number" class="form-control" name="quantity[product<% game.id %>]" value="<%= cart_items.count(game.id) %>" style="width: 60px; display: inline-block;">
          <span>шт.</span>
          <!--</div>
        <div class="col-4"><%= render 'cart_item_edit', game_id: game.id, action_cart: 'up' %></div>
      </div>-->
    </div>

    <div class="col-6 col-md-1">
      <% @count ||= 0; @count += (game.price * cart_items.count(game.id)) %>
      <span><%= game.price * cart_items.count(game.id) %>₽</span>
    </div>

    <div class="col-2 col-md-1">
      <%= button_to delete_cart_items_path(id: game.id, name: game.name), method: :delete, class: 'btn btn-danger' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
      <% end %>
    </div>

  </div>
</div>
