<h1>Корзина.</h1>

<div id="cart_items">
  <% if cart_items.present? %>
    <div class="row">
      <% @games.each do |game| %>
        <%= render 'cart_items', game: game %>
      <% end %>

      <div class="col-12 cart-item">
        <div>Итого: <%= cart_items.size %>шт. на сумму <%= @count %>₽</div>
      </div>

      <div class="col-12 cart-item">
        <%= button_to 'Очистить корзину', cart_delete_all_path, method: :delete  %>
      </div>
    </div>
  <% else %>
      <h3>Ваша корзина пуста!</h3>
  <% end %>
</div>


<%= render '/games/recently' %>
