<!DOCTYPE html>
<html>
  <head>
    <title>Ps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render '/partial/header' %>

    <main>
      <div class="container">
        <h1 class="mb-3 mt-3"><%= yield :title %></h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <%= render_breadcrumbs tag: 'li', separator: ' / ', class: 'breadcrumb-item' %>
          </ol>
        </nav>
        <%= yield %>
      </div>
    </main>

    <%= render '/partial/footer' %>
  </body>
</html>
